# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
*.egg-info/
dist/
build/
**/__pycache__/
**/*.pyc

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite

# Node
node_modules/
dist/
.cache/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
